/**
TODO:
1. Light-dark button does not seem to keep the state required when changing pages. It works on home but not on about.
It has to be clicked multiple times.

2. Scrollable page.
3. When 400px of the page is scrolled (the height of the red area), then activate the nav bar.

**/

#modal {
  width: 100%;
  min-height: 100%;
  z-index: 2;
}

.show {
  animation-name: showAnim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.hide {
  animation-name: hideAnim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.picture {
  width: 125px;
  border-radius: 125px;
  border-width: 4px;
  border-color: white;
  height: 125px;
  display: inline-block;
}
.picture img {
  width: 1000px !important;
  height: auto !important;
  object-fit: cover;
  clip-path: circle(62px);
}
.content {
  width: 60%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.main {
  position: relative;
}
.top {
  height: 400px;
  width: 100%;
  padding: 10px;
  position: relative;
}
.profile {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profileName {
  font-weight: 600;
  font-size: x-large;
}
.profileLocation {
  margin-top: 6px;
  font-size: small;
}
.profileCard {
  position: relative;
  height: 75px;
  max-width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 40px;
  display: grid;
  align-items: center;
}
.profileCard .profileContent {
  padding-bottom: 16px;
}

.bottom {
  height: auto;
  width: 100%;
}
