/* #region Colors */
@media (prefers-color-scheme: dark) {
  .background {
    background-color: var(--color-red);
  }

  .background_dot {
    background-color: var(--color-not-so-black);
  }
}

@media (prefers-color-scheme: light) {
  .background {
    background-color: var(--color-red);
  }

  .background_dot {
    background-color: var(--color-white);
  }
}
/* #endregion */

/* #region Background */
.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: fixed;
}

.background_dot {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  animation-name: backgroundDotAnim;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  transition: background-color 0.25s ease;
}

.background_dot.done {
  transform: scale(1);
  margin-right: 0;
  width: 60%;
  height: 100%;
  border-radius: 0;
  animation: unset;
}

[orientation="vertical"] .background_dot {
  animation-name: backgroundDotAnimAlt;
}


[orientation="vertical"] .background_dot.done {
  transform: scale(1);
  margin-right: 0;
  width: 100%;
  height: calc(100% - 400px);
  border-radius: 0;
  bottom: 0;
  animation: unset;
}
/* #endregion */

  /* #region Animation */
  @keyframes backgroundDotAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(4);
    }
    70% {
      transform: scale(0);
      margin-right: auto;
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    75.01% {
      transform: scale(0);
      margin-right: 0;
      width: 0px;
      height: 100%;
      border-radius: 0;
    }
    75.02% {
      transform: scale(1);
      margin-right: 0;
      width: 0px;
      height: 100%;
      border-radius: 0;
    }
    80% {
      transform: scale(1);
      margin-right: 0;
      width: 65%;
      height: 100%;
      border-radius: 0;
    }
    100% {
      transform: scale(1);
      margin-right: 0;
      width: 60%;
      height: 100%;
      border-radius: 0;
    }
  }

@keyframes backgroundDotAnimAlt {
  0% {
    transform: scale(1);
    bottom: auto;
  }
  50% {
    transform: scale(4);
  }
  70% {
    transform: scale(0);
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  75.01% {
    transform: scale(0);
    margin-right: 0;
    width: 100%;
    height: 0px;
    border-radius: 0;
    bottom: auto;
  }
  75.02% {
    transform: scale(1);
    margin-right: 0;
    width: 100%;
    height: 0px;
    border-radius: 0;
    bottom: 0;
  }
  80% {
    transform: scale(1);
    margin-right: 0;
    width: 100%;
    height: calc(105% - 400px);
    border-radius: 0;
    bottom: 0;
  }
  100% {
    transform: scale(1);
    margin-right: 0;
    width: 100%;
    height: calc(100% - 400px);
    border-radius: 0;
    bottom: 0;
  }
}
/* #endregion */