.navbar {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 20px;
}

#navMenu {
  display: initial;
}

.navButton {
  display: inline-block;
  margin-right: 10px;
}

.navHome {
  display: inline-block;
  font-weight: 700;
}

.navHome div {
  display: inline-block;
  color: var(--color-black);
}

.navHome div + div {
  color: var(--color-white);
}